<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="../img/favicon.ico">
	<title>Basics App</title>
	<link rel="stylesheet" href="../styles.css" />
</head>

<body>
	<div id="app1">
		<!--START COUNTER BUTTONS -->
		<div class="container pt-5">
			<div class="card center">
				<h2>
					{{ titleCounter }}:
					{{ counter }}
				</h2>
				<div>
					<button class="btn primary" @click="increment">
						Increase
					</button>
					<button class="btn danger" @click="decrement">
						Decrease
					</button>
				</div>
			</div>
		</div>
		<!--END COUNTER BUTTONS -->


		<!--START CALCULATOR -->
		<div class="container pt-5">
			<div class="card">
				<h2>{{ titleCalculator }}</h2>
				<div class="col form-control calc">

					<input v-model="countFirst" type="number" />

					<div class="calc-actions">
						<button class="calc-btn" @click="setOperator('sum')">
							<span> ➕ </span>
						</button>
						<button class="calc-btn" @click="setOperator('subtract')">
							<span> ➖ </span>
						</button>
						<button class="calc-btn" @click="setOperator('multiply')">
							<span> ✖ </span>
						</button>
						<button class="calc-btn" @click="setOperator('divide')">
							<span> ➗ </span>
						</button>
					</div>

					<input v-model="countSecond" type="number" />

					<!-- в result лучше использовать computed свойство -->
					<h3>Result: {{ result }}</h3>
				</div>
			</div>
		</div>
		<!--END CALCULATOR -->
	</div>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="script.js"></script>
</body>

</html>