<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../img/favicon.ico">
        <title>Vue App</title>
        <link rel="stylesheet" href="../styles.css" />
    </head>

    <body>
        <div id="posts">
            <section class="container pt-5">
                <div class="card center">
                    <h1>{{ titleApp }}</h1> 

                    <input type="searchString" v-model="searchString" placeholder="Search posts"/>
                    
                    <button v-on:click="getPosts"> search posts</button>

                    <!-- сюда добавить input и button 'seasch posts'-->
                                        
                    <!-- здесь должна быть условная отрисовка. Если loading === true, показываем div с классом loader. Иначе - следующий div -->
                    <div v-if='loading' class="loader"></div>
                    <div v-else class="posts-list">

                        <!-- здесь должен быть список постов. Показать минимум три параметра: title, description, image -->
                        <div v-for="item in posts" :key="'post-id_' + item.id">
                            <!-- post.title -->
                            <h2>{{item.title}} </h2>
                            <!-- post.description -->
                            <p>{{item.description}}</p>
                            <!-- в src вставь  post.iamge -->
                            <img :src="item.image" alt="post image" width="200" height="200">
                
                        </div>
                

                    </div>
                </div>
            </section>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="script.js"></script>
    </body>
</html>